body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #1F2739;
}

h1 {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
  margin-left: 40px;
}

.activebutton {

  background: #13191e;
  border: 1px solid #1c2125;
  color: #ffffff;
  text-shadow: 0 1px 0 #161c21;
}